header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-image: url(./images/maderaFondo.jpg);
    background-size: contain;
    background-position-y: center;
    color: rgb(255, 255, 224);
    margin: 0;
}

body{
    margin: 0;
}

.beige{
    background-color: #FAF0E6;
}

.wrapper{
    border: solid transparent;
    width: 80%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
}

.wrapper1{
    width: 80%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    flex-wrap: inherit;
    background-color: #FAF0E6;
}

.menu li{
    display: inline-block;
    padding-right: 40px;
    font-family: 'Crimson Text', serif;
    font-size: 25px;
    font-weight: bold;
}

.hero{
    display: flex;
    justify-content: space-between;
    background-color: #6A653F;
    height: 200px;
    color: rgb(255, 255, 224);
}

.hero p{
    font-family: 'Indie Flower', cursive;
    margin: 20px;
    margin-left: 45px;
    margin-top: 10px;
    font-size: 40px;
    font-weight: bold;
}

.hero p strong{
    color: gold;
}

.hero figure{
    margin: 0;
    overflow: hidden;
    border-bottom-left-radius: 35px;
    border-top-left-radius: 35px;
}

.icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #FAF0E6;
    height: 250px;
    margin-bottom: 5px;
    padding-top: 25px;
}

.icons figure{
    text-align: center;
    display: block;
    margin: 0;
    margin-bottom: 0px;
    width: 33%;
}

.icons p{
    margin-top: 1em;
    font-family: 'Poppins', serif;
    font-size: large;
    font-weight: 600;
}

.icons img{
    max-width: 200px;
    max-height: 150px;
    width: 100%;
    height: 100%;
}

h3{
    font-family: 'Lobster', cursive;
    font-size: 70px;
    background-color: #FAF0E6;
    margin: 0;
}

.food{
    display: flex;
    justify-content: space-around;
    background-color: #FAF0E6;
}

.food-item{
    border: solid black;
    border-radius: 10px;
    margin: 1%;
    margin-bottom: 2%;
    width: 25%;
    height: 90%;
    font-family: 'Crimson Text', serif;
    background-color: whitesmoke;
    text-align: center;
    align-items: flex-end;
    overflow: hidden;
}

.food-item h4{
    margin-block-end: 5px;
    margin-block-start: 0px;
    font-size: 40px;
}

.food-item ul{
    list-style: none;
    padding-inline-start: 0;
    font-size: 25px;
} 

.food-item p{
    font-size: 25px;
    margin-block-end: 10px;
}

.food-item figure{
    margin-block-end: 0;
    margin: 0;
    height: 40%;
    width: 100%;
}

.milanesa-list{
    margin-block-start: 1.4em;
    margin-block-end: 1.5em;
}

.empanada-list{
    margin-block-start: .5em;
    margin-block-end: 1em;
}

.arepa-list{
    margin-block-start: .5em;
    margin-block-end: 1em;
}

.empanada-image{
    width: 100%;
    height: 100%;
}

.milanesa-image{
    width: 100%;
    height: 100%;
}

.arepa-image{
    width: 100%;
    height: 100%;
}

.dona-image{
    width: 100%;
    height: 100%;
}

.churro-image{
    width: 100%;
    height: 100%;
}

.quesillo-image{
    width: 100%;
    height: 100%;
}

.social{
    color: rgb(255, 255, 224);
    background-color: #6A653F;
    font-size: 25px;
    font-family: 'Poppins', serif;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.social h2{
    margin: 0;
    padding-right: 20px;
    text-decoration: none;
}

.social a{
    text-decoration: none;
    color: #FAF0E6;
}

.social .logoig{
    background-image:url(./images/instagram.svg);
    background-size: 50px 50px;
    display: inline-block;
    width: 50px;
    height: 50px;
}

footer{
    color: whitesmoke;
    background-color: black;
    text-align: center;
    padding: 10px;
}

footer p{
    margin: 0;
}

@media screen and (max-width: 1622px){
    .food h4{
        font-size: 30px;
    }
    .food ul{
        font-size: 20px;
    }
    .food-item p{
        font-size: 20px;
    }
}

@media screen and (max-width: 1300px){
    .food h4{
        font-size: 25px;
    }
    .food ul{
        font-size: 15px;
    }
    .food-item p{
        font-size: 15px;
    }
}


@media screen and (max-width: 1023px){
    .wrapper{
        width: 100%;
    }
    .wrapper1{
        width: 100%;
    }
}

@media screen and (max-width: 819px){
    header{
        display: block;
        text-align: center;
    }
    header ul{
        padding: 0;
    }
    header .menu li{
        display: block;
        padding: .5em;
    }
}

@media screen and (max-width: 769px){
    .food-item{
        min-width: 197px;
        max-height: 261px;
    }
    .hero{
        display: block;
        text-align: center;
    }
    .portada{
        display: none;
    }
}

@media screen and (max-width: 670px){
    .food{
        flex-wrap: wrap;
        padding-bottom: 15px
    }
    .icons figure{
        width: 165px;
        height: 130px;
    }
    .icons p{
        font-size: 15px;
    }
    .icons{
        height: 200px;
    }
}

@media screen and (max-width: 555px){
    .icons figure{
        width: 120px;
        height: 90px;
    }
    .icons p{
        font-size: 20px;
    }
}

@media screen and (max-width: 510px){
    .social h2{
        font-size: 115%;
    }
    .social .logoig{
        background-size: 40px 40px;
        width: 40px;
        height: 40px;
    }
}

@media screen and (max-width: 424px){
    h3{
        font-size: 50px;
    }
}

@media screen and (max-width: 400px){
    .hero p{
        font-size: 200%;
    }
    .hero{
        height: auto;
    }
    .icons figure{
        width: 100px;
        height: 70px;
    }
    .icons p{
        font-size: 15px;
    }
    .icons{
        height: 155px;
    }
    .social h2{
        font-size: 20px;
    }
    .social .logoig{
        background-size: 30px 30px;
        width: 30px;
        height: 30px;
    }
    footer {
        font-size: 10px;
    }
}

@media screen and (max-width: 350px){
    .icons figure{
        width: 80px;
        height: 60px;
    }
    .icons p{
        font-size: 13px;
    }
    .icons{
        height: 130px;
    }
    .menu li{
        font-size: 20px;
    }
}